<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm border-0 rounded-3">
      <div class="card-body p-4 p-md-5">
        <div class="text-center mb-4">
          <h4 class="fw-bold text-success">Acceso Interno</h4>
        </div>

        <div *ngIf="mensajeError" class="alert alert-danger text-center small py-2">
          {{ mensajeError }}
        </div>

        <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
          <div class="mb-3">
            <label class="form-label fw-bold small">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              name="correo"
              [(ngModel)]="credenciales.correo"
              required
            />
          </div>

          <div class="mb-4">
            <label class="form-label fw-bold small">Contraseña</label>
            <!-- AQUI ES VITAL QUE name="password" -->
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="credenciales.password"
              required
            />
          </div>

          <button type="submit" class="btn btn-success w-100 fw-bold" [disabled]="!loginForm.valid">
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
